@charset "utf-8";
/* CSS Document */

    .category-section {
      padding: 40px 0;
    }

    .category-card {
      background-color: #FFFFFF;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      transition: all 0.3s ease;
      text-align: center;
      padding: 20px;
      cursor: pointer;
    }

    .category-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    .category-icon {
      font-size: 40px;
      color: #1E90FF;
      margin-bottom: 10px;
    }

    .category-title {
      font-weight: 600;
      color: #007BFF;
    }

    .category-count {
      color: #6c757d;
      font-size: 14px;
    }

    .section-title {
      font-weight: 700;
      font-size: 20px;
      color: #007BFF;
    }


/*                SP*/

    .SP-section {
      padding: 0px;
    }

    .SP-card {
      background-color: #F8F9FA;
      border-radius: 12px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      transition: all 0.3s ease;
      text-align: left;
      cursor: pointer;
    }

    .SP-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }